<div class="background">
  <img class="imagem" src="../assets/images/apresentacao.png">
  <div class="text">
    <h3>
      Bem-vindos ao universo onde a paixão por automóveis nos une!<br>
      Somos dois amigos que transformaram o hobby de infância em uma verdadeira obsessão por carros.<br>
      Desde as linhas aerodinâmicas até o som envolvente dos motores, cada aspecto dos veículos sempre capturou nossa imaginação e admiração.<br>
      Nossa amizade começou por trás das rodas, compartilhando experiências em encontros de entusiastas.<br>
      Com o passar dos anos, essa paixão só cresceu, levando-nos a explorar cada vez mais o mundo automotivo, desde a restauração de clássicos até a customização de modelos modernos.<br>
      Hoje, estamos na jornada de levar essa paixão adiante.<br>
      Através de nossa marca, queremos conectar com outros que compartilham desse mesmo entusiasmo por automóveis.<br>
      Nosso objetivo é celebrar a cultura automotiva, apreciando cada detalhe que torna os carros não apenas máquinas, mas verdadeiras obras de arte.<br>
      Acompanhe-nos enquanto continuamos explorando, aprendendo e compartilhando tudo sobre esse mundo fascinante.<br>
      Juntos, podemos descobrir o que faz o coração de cada gearhead acelerar!
    </h3>
  </div>
</div>